<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home</title>
</head>

<body>
  <header>
    <span>
      <a href="./listar">Livros</a>
      <a href="./cadastrar">Cadastrar</a>
    </span>
    <hr>
  </header>

  {{{body}}}
  
  <footer>
    <p>RODAPÉ</p>
  </footer>
</body>

</html>