<div class="box-conteiner">
    {{#each book}}
    <section class="box-conteiner-item">
        <span class="box-item">
            <h2 class="titulo">{{this.titulo}}</h2>
            <p class="descricao">{{this.descricao}}</p>
        </span>
        <section class="box-item">
            <span class="miniBox">
                <p><strong>{{this.categoria}}</strong></p>
                <p><strong>R${{this.preco}}</strong></p>
            </span>
        </section>
    </section>
    {{/each}}
</div>